/* Show the episodes list when the button is clicked */
.episodes-list {
  display: none;
  padding: 10px;

}

/* Add a class to show the episodes list */
.show-episodes {
  display: block !important;
}


/* Home styling */

.home-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  /* Move content to the left */
  padding: 20px;

}

.search-sort-container {
  /* Move sort buttons to the right */
  display: flex;
  justify-content: flex-end;
  /* Move sort buttons to the right */
  margin-bottom: 20px;
  margin: auto;
  width: 50%;
}

input[type="text"] {
  width: 100%;
  padding: 10px;
  margin-right: 10px;
  border: 5px double rgb(163, 139, 0);
  border-radius: 20px;
  border-right: none;
  border-left: none;
}

select {
  padding: 10px;
  border: 5px double rgb(163, 139, 0);
  border-radius: 20px;
  border-left: none;
  border-right: none;
}

.show-list {
  list-style-type: none;
  padding: 0;

}

.show-info {
  display: flex;
  margin-bottom: 20px;
  border: none;
  padding: 10px;
  cursor: pointer;
}

.show-image {
  width: 100px;
  height: 100px;
  object-fit: cover;
  margin-right: 10px;
}

.show-details {
  flex: 1;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;

}

.favorite-container {
  background-color: #a05858d7;
  color: aqua;
}

.genres-container {
  position: relative;
  top: -20px;
  margin: auto;
  width: 50%;
  font-family: 'papyrus';
}

.history-container {

  margin-top: 0;
  color: #000000;
  background-image: linear-gradient(red, gold);
  padding: 50px;
}

.history-container p {

  color: #070066;
}